*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    list-style-type:none;    
    color: rgb(255, 255, 255);
}
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 8%;
    background-color: rgba(188,132,126,0.5);
    position: fixed;
    top: 0; left: 0; right: 0;
  
  
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    

}
.brand {
    font-family: 'Raleway', sans-serif; 
    font-size: 2em; 
    display: inline-flex;
    align-items: center;
    transition: 0.5s ease-in-out;    
}
.brand img {
    margin-right: 10px;
}
.brand:hover {
    transform: scale(1.1, 1.1);
    transition: 0.8s ease-in-out;
}



.navegacion ul {
    list-style: none;
 
}


.menu>li {
    position: relative;
    display: inline-block;

}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: azure;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color: lightpink;
    text-shadow: 1px 1px 1px grey;
    transition: all .3s;
}

/*submenu*/
.submenu {
    position: absolute;
    background-color:#E08582 ;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    width: 100%;
    z-index: 1000;

}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* nav li{
    z-index:10;
    display: inline-block;
   
}
nav a {    
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 25px 15px;
    display:block;
    transition: 0.5s ease-in-out;
}
nav a:hover {
    background-color:#E08582;
    transition: 1.8s ease-in-out;

    display: block;
    padding: 15px;
    color: lightpink;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}
nav a:visited {
    color: rgb(255, 255, 255);
}
nav a.active {
    background-color:#E08582;
    color: rgb(255, 255, 255);
} */



#portada {
    height: 100vh;
    width: 100%;
    background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../css/imagenes/imagen01.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    z-index:-10;
} 
#portada:before {
    opacity: 0.6;
}

.tit1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    position:relative;
    animation: animation 2s ease-out;
}
.sub1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    position:relative;
    animation: animation 2.5s ease-out;
}  

.ver{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center; 
    color: #ffffff;
    margin: 10px auto;
    position:relative;
    animation: animation 2.5s ease-in-out;


}
@keyframes animation {
    0% {
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

/*Media queries*/
@media screen and (max-width: 600px){    
}

@media screen and (max-width: 768px){
    header, nav li{
        display:block;
        padding: 0;
    } 
    nav a{
        padding: 15px;
    } 
    .brand {
        padding: 25px 0;
    }
    .menu-hamburguesa {
        display: inline-block;
        float: right;
    }
    #portada {
        position: relative;
    }
}

@media screen and (max-width: 992px){    
}

@media screen and (max-width: 1200px){    
}


/* ver mas */

.card .contenido a{
    color:lightcoral;
    margin-top: 150px;
    padding: 10px;
    font-family: 'Mukta', sans-serif;
    border: 1px solid lightcoral;
    border-radius: 4px;
    transition: all 400ms ease;

}

.conteiner{
    width: 100%;
  margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    grid-gap:10px;
    max-width: 1100px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
    transform: translateY(-3%);
}
.card img{
width: 100%;
height: 150px;
object-fit: cover;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido h3{
    color: rgba(188,132,126,1) ;
}
.card .contenido p{
    line-height: 1.5;
    width: 100%;
    
height: 200px;
overflow: hidden;
margin-top: 15px;

}

