*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
    /* list-style: none; */
    color: rgb(255, 255, 255);
}
ul {
    margin: 0;
    padding: 0;
}
header {
    /*display: flex;
    justify-content: space-between;
    */
    text-align: center;
    background-color: rgba(188,132,126,0.5);
    position: fixed;
    top: 0; left: 0; right: 0;  
    padding: 0.5em 2em 0em 2em;  
}

/*
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;  
}*/

.brand {
    font-family: 'Raleway', sans-serif; 
    font-size: 2em; 
    display: inline-flex;
    align-items: center;
    transition: 0.5s ease-in-out;    
}

.brand:hover {
    transform: scale(1.1, 1.1);
    color: white;
    transition: 0.8s ease-in-out;
}
.menu-li {
    position: relative;
    list-style: none;

}
.menu-pad{
    padding: 20px 0px;
}
.menu-a {
    color: none;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    text-decoration: none;
}

.menu-a:hover {
    color: lightpink;
    text-shadow: 1px 1px 1px grey;
    transition: all .3s;
}

/*submenu*/
.submenu {
    position: absolute;
    background-color:#E08582 ;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    width: 100%;
    z-index: 1000;
    list-style: none;
    padding: 0%;

}

.submenu-a {
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.menu-li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
#portada {
    height: 100vh;
    width: 100%;
    background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../css/imagenes/imagen01.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
} 
#portada:before {
    opacity: 0.6;
}
#portada .button{
    margin: 25px auto 0;
    /*position:relative;*/
    animation: animation 2.5s ease-in-out;
    display: block;
    width: 30%;
}
.button,
.reset {
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #E08582;
    border:1px solid transparent;
    transition: all 0.3s ease-out;
    display: inline-block;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.button:hover {
    opacity: .8;
    background-color: transparent;
    color:#E08582;
    text-shadow: 1px 1px 1px grey;
    border-radius: 6px;
    border:1px solid #E08582;
}
.reset {
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    border:1px solid transparent;
    transition: all 0.3s ease-out;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;    
    font-weight: 500;
    letter-spacing: 1px;
    color: #a15360;
    border: 1px solid #BE837F;
    background-color: #ebbac1;
}
.reset:hover {
    opacity: .8;
    color: #E08582;
    background-color: #f4cccc;
    text-shadow: 1px 1px 1px grey;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
}
.tit1 {
    font-family: 'Sofia', cursive;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    /*position: relative;*/
    animation: animation 2s ease-out;
}
.tit1 span {
    color: #E08582;
}
.sub1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    /*position:relative;*/
    animation: animation 2.5s ease-out;
}  

.ver{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center; 
    color: #ffffff;
    margin: 10px auto;
    position:relative;
    animation: 2.5s ease-in-out;


}
@keyframes animation {
    0% {
        opacity: 0;
        left: -700px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.contenedor {
    display: block;
    overflow: hidden;
    margin: 0 5% 40px;
}
.bloque-img {
    background-image: url(../css/imagenes/skincare.jpg);
    background-size: cover;
    height: 400px;
    background-position: center;
    margin: 0 20px;
}
.bloque-tema {
    /*max-width: 490px;*/
    text-align: center;
    /*margin: 0 20px;*/
    overflow: hidden;
}
.bloque-tema img {
    height: 400px;
    /* position: relative; */
    right: 20%;
    padding-right:20px ;
}
.bloque-tema h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: normal;
    text-align: left;
    color: #E08582;
    position:relative;
    padding: 40px 0;
}
.bloque-tema p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: grey;
    line-height: 1.5rem;
    text-align: left;
}
.item{
    /*max-width:350px; */   
    text-align:center;
    margin:10px;  
    box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
    padding: 20px;  
    background-color: #f6d6d6;  
}
.iconos {
    height: 80px;
    width: 80px;  
    background: -webkit-radial-gradient(circle, rgb(255, 255, 255) , rgb(224, 133, 130));
    margin: 0 auto;
    border-radius: 50%;    
    transition: 0.5s ease-in-out;    
}
.iconos:hover {
    transform: scale(1.1, 1.1);
    transition: 0.8s ease-in-out;
}
.iconos i{
    position: relative;
    top: 25%;
    font-size:40px;    
    color:#E08582;
}
.item p {
    color: grey;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;    
    padding: 15px 0;
}
.item h4 {
    color: grey;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-weight: normal;
}
hr {
    border: 1px solid #c78590;
}
.imagen-fondo {
    background-image: url(../css/imagenes/imagen-fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    max-width: 100%;
    background-position: center;
    opacity: .7;
    display: flex; 
    align-items: flex-end;
    justify-content: space-around;
}

/* ver mas */


.card{
    width: 100%;
    margin: 20px 0;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
    transform: translateY(-3%);
}
.card img{
width: 100%;
height: 150px;
object-fit: cover;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido h3{
    color: rgba(188,132,126,1) ;
}
.card .contenido p{
    line-height: 1.5;
    width: 100%;
    
height: 200px;
overflow: hidden;
margin-top: 15px;

}

/* informacion */

.conteiner-banner{
    margin-top: 80px;
    background-color:rgb(248, 215, 198);
}
.A-info h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    padding: 0.2em 2em 0em 2em;
}
.A-info p{
    padding: 0em 1.5em 0em 1.5em;
    text-align: left;
    margin-top: 15px;
    line-height: 30px;
    font-size: 20px;
}
.conteiner-info { 
    padding: 4em 0em;
    /*
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    white-space: wrap;
    text-overflow: ellipsis*/
}
.conteiner-info-2{
    font-family: 'Tiro Telugu', serif;
    padding: 0em 2em 2em 2em;
    /*width: 50%;
    max-height: 500px;
    margin-left: 70px;*/
}
.conteiner-info-2 h2{
    color:#D7AECB ;
    text-shadow: 1px 1px 1px #B555AA ;
}
/*.img2{
    width: 50%;
}
.img2 img{
    width: 400px;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    margin-left: 80px;
}*/

/* cards animadas */

@font-face {
    font-family: letra ;
    src: url(./letra2.ttf )
}

.conteiner-tit {
    padding: 30px 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-family: letra ;
    font-size: bold;
    color: black;
}
.h2-1::first-letter{
    color: #B555AA;
}
.h2-1{
    font-size: bold; 
}
.h2-2{
    color:rgb(100,180,177);
    font-size: bold;
}

strong{
    font-size: 17px;
}
.conteiner-card{
    justify-content: center;
    padding: 2em 3em ;
    /*margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;*/
}
.card-father{
    padding: 0.5em ;
}
.card-father:hover .card2{
    transform: rotateY(180deg);
}
.card2{
    width: 300px;
    height: 350px;
    transform-style:preserve-3d;
    transition: all ease 600ms;
}
.card-front{
   background-size: cover;
   background-position: center;
}
.card-front , .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card-back{
    transform: rotateY(180deg);
    background-color: lightpink;
    color: white;
}
.body-card-front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    transform: translateZ(60px);
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.body-card-back{
padding: 15px;
}
.body-card-back p{
    margin-top: 20px; 
    font-size: 1.2em;
    color: #ffffff;
    background-color: lightpink
}


/*Contacto*/
.encabezado {
    background-image: url(../css/imagenes/encabezado.jpg);    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    max-width: 100%;
    background-position: center;
    opacity: .7;
    display: flex; 
    align-items: flex-end;
    justify-content: space-around;
}
.encabezado h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color: #E08582;
    margin: 0 auto;
    text-shadow: 1px 1px 1px grey;
    padding-bottom: 30px;
    position: relative;
}
.formulario-contacto {
    background-color: #f6d6d6;    
}
.formulario-contacto .texto {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: grey;
    line-height: 1.5rem;
    text-align: center;
    padding: 1.5rem;
}
.formulario-contacto strong {
    color: #E08582;
}
.form-label {
    margin-top:0.5rem;
}
.form-check-input {
    margin:5px; 
}
.form-check-input:checked {
    margin:5px;
    background-color:#ce0b08 !important;
    border:#ce0b08 !important;
}
.form-check-input:focus {
    border-color: #ce0b08;
    box-shadow:0 0 0 0.25rem rgba(249, 167, 167,0.5)
}
label {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color:grey;
}
label i {
    color:#E08582;
    padding-right:10px;
}
.formulario-contacto .button,
.formulario-contacto .reset {
    margin: 0 auto;
    position: relative;
    top: 20px;
}
input.form-control::-webkit-input-placeholder,
.form-select,
textarea.form-control::-webkit-input-placeholder{
    color:#c1bbbb;
    font-style: italic;
}
textarea.form-control:focus, 
.form-select:focus, 
input[type]:focus {
    border-color: rgb(224. 133. 130);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}
input.form-control:focus, 
.form-select:focus,
textarea.form-control:focus {
    border-color: #E08582;
}
.direccion {
    padding: 30px 0;
    text-align: center;
}
.direccion h3 {
    color: #c78590;
    font-size:2rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-top:15px;
    margin:0; 
    font-weight: bold;
}
.direccion a {
    font-family: 'Raleway', sans-serif;   
    color: #c78590;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
}
iframe {
    float: right;
}

/*TEST DE PIEL*/
.t-backg{
    background-color: #f6d6d6;
    padding: 0ch;
    margin: 0em 0em 0em 0em;
    padding: 6em 0em 1em;
    border-bottom: 1px solid #BE837F;
}
.t-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #d8a09c;
}
.t-sub{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #d8a09c;
}
.t-steps-h{
    font-family: 'Raleway', sans-serif;
    color:#c78590 ;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0em;

}
.t-steps-txt{
    font-family: 'Raleway', sans-serif;
    color: #c48783;
    font-weight: 600;
    padding: 0.5em;
}
.t-steps-bkg{
    background-color: #ebbac1;
}
.t-form{
    border-top: 1px solid #BE837F;
    padding: 0.5em 1em 0.5em;
    background-color:#f6d6d6;
    text-align: center;
}
.t-answ{
    padding: 1em 0em 0em;
}
.t-label{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: none;
    color: #ac747d;
}
.t-input{ 
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #ac747d;
    border: 1px solid #BE837F ;
    border-radius: 5px;
    padding: 0.2em 5em;
    background-color:#f7e6e6 ;
}
.t-e-btn{
    padding: 1em 0em;
}
.t-btn{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #a15360;
    font-weight: 600;
    font-size: medium;
    padding: 1em;
    border: 1px solid  #BE837F;
    background-color: #ebbac1;
    border-radius: 5px;
}
.t-btn:hover{
    background-color: #f4cccc;
}

/*Resultados del test*/
.t-warn{
    background-color:#f6d6d6;
}
.t-warn-txt{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #e03955;
    padding: 0em 0em 1em;
}
.t-cards{
    background-color:#f6d6d6;
    padding: 0em 0.5em 0.5em;
}
.t-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ebbac1;
}
.t-card img{
    height: 200px;
    object-fit: cover;
}
.t-cardPad{
    padding: 0.5em;
    
}
.t-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.t-card-cont {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #a15360;
    padding: 0.5em;
    height: 310px;
    overflow: hidden;
    
    
}
.t-card-title{
    font-size: larger;
    font-weight: 600;
}
.t-card-txt{
    font-weight: 500;
    height: 280px;
box-sizing: border-box;

}


/*FOOTER*/
footer {
    background-color: #BE837F;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
footer img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.8s ease-in-out;
}
.contenido-footer {
    width: 340px;
    padding: 20px 0;
}
.contenido-footer h4 {
    color: lightpink;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    font-weight: normal;
}
.contenido-footer p {
    color: azure;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: left;
    line-height: 1.5;
    padding: 5px 0;
}
.contenido-footer ul li {
    list-style-type: none;

}
.contenido-footer ul li a {
    text-align: left;
    margin: 0 auto;
    display: block;
    line-height: 1.5;
    color: azure;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px dotted #fff;
}
.contenido-footer ul li a:hover {
    color: lightpink;
    transition: all .3s;
}
.contenido-footer i {
    margin-right: 5px;
    color: lightpink;
}

/*Media queries*/
[class*="col-"]{
    float: left;
}
@media only screen and (max-width: 992px){
    .col-m-1 {width : 8.33%;} 
    .col-m-2 {width : 16.66%;}
    .col-m-3 {width : 25%;}
    .col-m-4 {width : 33.33%;}
    .col-m-5 {width : 41.66%;}
    .col-m-6 {width : 50%}  ;  
    .col-m-7 {width : 58.33%;}
    .col-m-8 {width : 66.66%;}
    .col-m-9 {width : 75%;}
    .col-m-10 {width : 83.33%;}
    .col-m-11 {width : 91.66%;}
    .col-m-12 {width : 100%;}
    /**/
    .bloque-img {
        margin: 0
    }
    /*Aprender*/
    .card-padd{padding: 0em 1em;}
    /*info de pieles*/
    .A-info p{ padding-bottom: 2em;}
    /*Pieles*/
    .conteiner-banner{
        margin-top: 9em;
    }
    /*TEST*/
    .t-backg {padding: 10em 0em 1em;}
    .t-s-marg{
        border-top: 3px solid #BE837F; border-bottom: 3px solid #BE837F;
    } 
}

@media only screen and (min-width: 992px){
    .col-1 {width : 8.33%;} 
    .col-2 {width : 16.66%;}
    .col-3 {width : 25%;}
    .col-4 {width : 33.33%;}
    .col-5 {width : 41.66%;}
    .col-6 {width : 50%}  ;  
    .col-7 {width : 58.33%;}
    .col-8 {width : 66.66%;}
    .col-9 {width : 75%;}
    .col-10 {width : 83.33%;}
    .col-11 {width : 91.66%;}
    .col-12 {width : 100%;}
    /*Aprender*/
    .conteiner{
        margin: 100px auto 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 15px;
        grid-gap:10px;
        max-width: 1100px;
    }
    /*TEST*/
    .t-s-marg{
        border-right: 3px solid #BE837F; border-left: 3px solid #BE837F;
    } 
    .t-txtm{
        padding-bottom: 3em;
    }
}
@media only screen and (max-width: 600px){
    .col-sm-1 {width : 8.33%;} 
    .col-sm-2 {width : 16.66%;}
    .col-sm-3 {width : 25%;}
    .col-sm-4 {width : 33.33%;}
    .col-sm-5 {width : 41.66%;}
    .col-sm-6 {width : 50%}  ;  
    .col-sm-7 {width : 58.33%;}
    .col-sm-8 {width : 66.66%;}
    .col-sm-9 {width : 75%;}
    .col-sm-10 {width : 83.33%;}
    .col-sm-11 {width : 91.66%;}
    .col-sm-12 {width : 100%;}
}
/*info de pieles*/
@media only screen and (max-width: 1100px){
    .col-intm-12 {width : 100%;}
}
.pielSensibleFactores ul{
list-style-type: disc;
list-style-position: inside;
color: rgb(100,180,177) ;
}

.pielSensibleFactores span{
    color: black;
}